body {
    background-color: beige;
}
.about-section {
    padding: 80px 0 20px 0;
    font-size: 48px;
    color: purple;
}
/* Add styles or remove the empty ruleset */
.about-section-name {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: purple;
}
.about-us {
    text-align: center;
    text-transform: none;   
}
.lead {
    font-size: 30px;
    color: darkgreen;
}

p {
    color: darkred;
}
