/* General Body Styling */
body {
    background-color: white; /* Light background for a clean look */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/*portfolio section styles*/
.portfolio-section {
    font-family: 'Playfair Display', serif;
    color: #800020; /* Deep Burgundy */
    padding: 40px 0 20px 0;
    font-size: 40px;
    text-align: center;
    margin-bottom: 2rem;
}
/* Portfolio Name Styling */
.portfolio-name {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: purple;
    margin-top: 20px;
    margin-bottom: 10px;
}
.portfolio-section h2 {
    font-size: 2.5rem;
    color: #800020; /* Deep Burgundy */
    margin-bottom: 1rem;
}

.portfolio-section p {
    font-size: 1.2rem;
    color: #555555; /* Subtle gray for text */
    margin-bottom: 2rem;
}
/* Responsive Styling */
@media (max-width: 768px) {
    .portfolio-section h1 {
        font-size: 2rem; /* Adjust font size for smaller screens */
    }

    .portfolio-name {
        font-size: 1.5rem; /* Adjust heading size for smaller screens */
    }

    .image-grid {
        gap: 1rem; /* Reduce spacing between grid items */
    }
}

@media (max-width: 576px) {
    .portfolio-section h1 {
        font-size: 1.8rem; /* Further reduce font size for mobile devices */
    }

    .portfolio-name {
        font-size: 1.2rem; /* Further reduce heading size for mobile devices */
    }

    .grid-item {
        border-radius: 5px; /* Reduce border radius for smaller screens */
    }
}

.img-fluid.rounded {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    object-fit: cover;
}

.img-fluid.rounded:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}